@page "{token}/{email}"
@model FreshFarmMarket.Pages.Login.ResetPasswordModel
@{
}
<form class="mt-3" method="post" enctype="multipart/form-data">
@*Password*@
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" asp-for="user1.Password"></label>
    <div class="col-sm-10">
        <input class="form-control" type="text" asp-for="user1.Password" onkeyup="checkPassword()" id="passwordText" />
        <span asp-validation-for="user1.Password" class="text-danger"></span>
        <span id="pwCheck" style="color:aquamarine">Avoid using easily guessed / commonly used passwords when registering!</span>
    </div>
</div>
@*Confirm Password*@

<div class="row mb-3">
    <label class="col-sm-2 col-form-label" asp-for="confirmPassword1"></label>
    <div class="col-sm-10">
        <input class="form-control" type="text" onkeyup="confirmPassword()" id="confirmPass" name="confirmPassword1" required />
        <span asp-validation-for="confirmPassword1" class="text-danger"></span>
        <span id="confirmPw" style="color:red"></span>
    </div>
</div>

<button type="submit" class="btn btn-primary">Change Password!</button>
</form>
